/* @import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */

body {
    font-family: 'Roboto', Helvetica, sans-serif;
}

h2 {
    font-size: 40px;
}

.destacar {
    font-weight: 600;
    text-transform: uppercase;
}
.italic {
    font-style: italic;
}

.oblique {
    font-style: oblique;
}

p {
    line-height: inherit;
    word-spacing: 10px;
}
